<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <form method = "post" action="add-student">
  <input type ="text" name="name" placeholder="enter student name"/>
  <br/> <br/>
   <input type ="email" name="email" placeholder="enter student email"/>
  <br/> <br/>
   <input type ="tel" name="number" placeholder="enter student number"/>
  <br/> <br/>
  <button>add student</button>
   </form>

</body>
</html>